*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}

/* Google Font */
body{
	font-family: 'Open Sans', sans-serif;
}

/* Navigation Bar */
/* 1rem = 16px */
nav{
	padding:0.8rem;
	margin-bottom: 2rem;
	border-bottom: 1px solid gray;
}

/* margin vs/ padding */
/* margin is best used when creating space between elements */
/* padding is best used when creating space between element's border and its content */
nav .nav-logo, nav .nav{
margin:0.5rem;
/*change elements to inline elements*/
display: inline;
}

#intro{
/* Creates space between the contents of the intro section and it's border	 */
padding-left: 10%;
padding-right: 10%;
padding-top: 2rem;
padding-bottom: 3rem;
text-align: center;
}

#intro h2, #intro p{
	margin-bottom: 1rem;
}

#intro h2, #intro p{
	margin-bottom:1rem;
}

#intro button{
	font-weight: bold;
	background-color: lightpink;
	border-radius: 25px;
	font-size: 1rem;
	color: black;
	padding:0.7rem;
}

#succeed-info {
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 3rem;
	text-align: center;	
}
#succeed-info h2{
	margin-bottom: 1rem;
}

#succeed-info h3{
	text-align: center;
	margin-bottom: 1rem;
}


#succeed-info .card {
	/* allows the cards to appear beside each other */
	display: inline-block;
	/* aligns elements with the tallest element in line */
	/* Used with the inline block value */
	vertical-align: top;
	/* allows for card to have equal height that adjust with the content	*/
	min-height: 175px;
	width: 30%;
	/*	creates horizontal spacing between cards */
	margin-left: 0.5rem;
	margin-right: 0.5rem ;
}

#pre-footer{
	margin-top: 2rem;
	padding-left: 1rem;
	padding-top: 1rem;
	padding-bottom: 1rem;
	background-color: #002540;
	color: white;
	font-size: 1rem;
}

#pre-footer .footercard{
		display: inline-block;
		vertical-align: bottom;
		width:20%;
		text-align:left;
		lett
}

#pre-footer p{
	margin-bottom: 0.3rem;
}

#pre-footer h3{
	margin-bottom: 0.3rem;
}

footer{
	padding-left: 1.25rem;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}
footer span{
	margin-right: 1rem;
}





